{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h2>Принтер: {{ printer.name }}</h2>
    <p><strong>Серийный номер:</strong> {{ printer.serial_number|default:"Не указан" }}</p>
    <p><strong>Кабинет:</strong> {{ printer.location }}</p>
    <p><strong>Ответственный:</strong> {{ computer.technician.username|default:"Не назначен" }}</p>
    <p><strong>Статус:</strong> {{ printer.get_status_display }}</p>
    <p><strong>Дата создания:</strong> {{ printer.created_at }}</p>
    <p><strong>Дата обновления:</strong> {{ printer.updated_at }}</p>
    <a href="{% url 'assets:printer_edit' printer.pk %}" class="btn btn-warning">Редактировать</a>
    <a href="{% url 'assets:printer_delete' printer.pk %}" class="btn btn-danger">Удалить</a>
    <a href="{% url 'assets:printer_list' %}" class="btn btn-secondary">Назад</a>
</div>
{% endblock %}
